{% extends 'base.html.twig' %}

{% block title %}Nouveau Commentaire{% endblock %}

{% block body %}
    <h1>Ajouter un commentaire pour "{{ peinture.nom }}"</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_peinture_show', {'id': peinture.id}) }}" class="btn btn-light mt-3">
        Retour à la peinture
    </a>
{% endblock %}